

<body  class="p-3 mb-2 bg-dark text-white" ><div class="bg-dark"></div> 
 

    <div fxLayoutAlign="center center" fxFlexFill class="main-div">
        <div >

            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    <mat-card class="cc" fxFlex="27%" fxFlex.xs="80%" fxFlex.sm="40%">
        <div *ngIf="pBar">

            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
   <mat-toolbar fxLayoutAlign="center center"  class="bg-secondary">
        <img class="img"  [src]=myimg></mat-toolbar>
  
     


        <form fxLayoutAlign="stretch" fxLayout="column" class="loginform" [formGroup]="userform">
    
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">RESET PASSWORD!</h4>
                <p>{{msg}}</p>
                
               
              </div>
   
              <mat-form-field >
                <mat-label>password</mat-label>
                <input matInput type="password" placeholder="password" formControlName='password'>
    
                <mat-error  *ngIf="(this.userform.get('password').touched ) && this.userform.get('password').errors?.required" >
                  Password is required
                 </mat-error>
                 <mat-error  *ngIf="this.userform.get('password').touched && this.userform.get('password').errors?.invalidPassword" >
                  Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                  letter and 1 number
                 </mat-error>
              </mat-form-field>
    
              <mat-form-field >
                
                <input matInput type="password" 
                       placeholder="confirmPassword" formControlName='reenterPassword'>
    
                       <mat-error  *ngIf="(this.userform.get('reenterPassword').touched ) && this.userform.get('reenterPassword').errors?.required" >
                        confirmPassword is required
                       </mat-error>
                       <mat-error  *ngIf="this.userform.get('reenterPassword').touched && this.userform.get('reenterPassword').errors?.passwordMismatch" >
                        Passwords doesnot match
                       </mat-error>
              
              </mat-form-field>
            
   
    
    <button [disabled]="userform.invalid || btnDisable"  mat-raised-button type="submit" class="bg-secondary" (click)="forgotPassword()"><b>RESET</b></button>

    <a routerLink="/RegisterComponent"> <b>REGISTER</b></a>

    <a   routerLink="/LoginComponent"> <b>LOGIN</b></a> 
    
    

   
  </form>

       
    </mat-card>
    
    
    </div>
    
    <!-- *ngIf="alert" -->
    
    
    
    </body>
    
    
    
