.container {

    display: flex;
    flex-direction: row ;
    flex-wrap:wrap ;
    width: 100%;
    justify-content: space-around;
  
    
  
  
  
  }

  table {
    width: 70%;
  }

  .loginform{
    padding: 20px;
    
  }
  .cc{
    flex: 0 0 250px
  }

  *, ::after, ::before {
    box-sizing: border-box;
    width: inherit;
}