
 <mat-toolbar class="bg-light">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <!-- <mat-icon>menu</mat-icon> -->
    </button>
    <span><img class="img"  [src]=myimg></span>
    <span class="example-spacer"></span>
    <button type="button" class="btn btn-info" (click)="chatService()">MESSAGE</button>
    <button type="button" class="btn btn-info" (click)="referalView()">viewReferals</button>
      <button type="button" class="btn btn-danger" (click)="logout()">LOGOUT</button>
     
  </mat-toolbar>