.main-div mat-card{

  padding: 0px;
  
}
.loginform{
  padding: 20px;
  
}
.cc{
  flex: 0 0 250px
}
.container {


  


  justify-content: space-between;



}
.wwidth{
  width: 50%;
  margin-bottom: 8px;
  /* padding: 2rem; */
}