
<table class="table table-striped">
    
    <tbody  >
        <tr >
            <th class="colorr">USER NAME </th>
            <td>{{tableData.user.userName | titlecase}}</td>
            </tr>
        <tr >
            <th class="colorr">EMAIL</th>
            <td>{{tableData.user.email}}</td>
            </tr>
        <tr >
            <th class="colorr">MOBILE NO</th>
            <td>{{tableData.user.phoneNumber}}</td>
            </tr>
      <tr >
        <th class="colorr">PAYMENT STATUS</th>
        <td>{{tableData.user.paidstatus}}</td>
        </tr>
      <tr >
        <th class="colorr">USER REFERAL ID</th>
        <td>{{tableData.user.myRefId}}</td>

      </tr >
      <tr >
        <th class="colorr">REFERED ID</th>
        <td>{{tableData.user.refId}}</td>

      </tr>
      <tr >
        <th class="colorr">ORDER ID</th>
        <td>{{tableData.user.orderId}}</td>

      </tr>
      <tr >
        <th class="colorr">PAYMENT ID</th>
        <td>{{tableData.user.paymentId}}</td>

      </tr>
    </tbody>
  </table>
