

    <app-nav-bar-main></app-nav-bar-main> 
  <!-- <body  class="p-3 mb-2 bg-dark text-white" ><div class="bg-dark"></div>  -->
 
  <div class="main-div">
    <div  fxLayoutAlign="stretch" fxLayout="column" class="loginform">
    <mat-card class="z-depth center" flex="50" >
        <div class="alert alert-primary" role="alert">
            <h4 class="alert-heading">FORGOT PASSWORD!</h4>
            <p>{{msg}}</p>
            
           
          </div>
          <div fxLayoutAlign="center" >
            <button   mat-raised-button type="submit" class="bg-primary" (click)="createOrder()"><b>PROCEED TO PAY</b></button>

          </div>
          
    </mat-card>
</div>
  </div>
      
<!-- </body> -->

    

    
    
    
   

    
    
    
    
    
    
    
    
    
    
    
    

 

    
