

<body  class="p-3 mb-2 bg-dark text-white" ><div class="bg-dark"></div> 
 

    <div fxLayoutAlign="center center" fxFlexFill class="main-div">
        <div >

            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    <mat-card class="cc" fxFlex="27%" fxFlex.xs="80%" fxFlex.sm="40%">
        <div *ngIf="pBar">

            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
   <mat-toolbar fxLayoutAlign="center center"  class="bg-secondary">
        <img class="img"  [src]=myimg></mat-toolbar>
  
     


        <form fxLayoutAlign="stretch" fxLayout="column" class="loginform" [formGroup]="userform">
    
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">FORGOT PASSWORD!</h4>
                <p>{{msg}}</p>
                
               
              </div>

    
       

    
    
    
    
    
    

     
            <mat-form-field >
            
              <mat-label>Email
        
              </mat-label>
              <input  matInput type="email" placeholder="ex@example.com" formControlName='email'>
              <mat-error  *ngIf="this.userform.get('email').errors" >
                Enter a valid email id
              </mat-error>
    
    
            </mat-form-field>
            
   
    
    <button [disabled]="userform.invalid || btnDisable"  mat-raised-button type="submit" class="bg-secondary" (click)="forgotPassword()"><b>SEND</b></button>

    <a routerLink="/RegisterComponent"> <b>REGISTER</b></a>

    <a   routerLink="/LoginComponent"> <b>LOGIN</b></a> 
    
    

   
  </form>

       
    </mat-card>
    
    
    </div>
    
    <!-- *ngIf="alert" -->
    
    
    
    </body>
    
    
    
