<app-nav-bar-main></app-nav-bar-main> 


  <div fxLayoutAlign="center"  class="main-div" >
 
    <mat-card class="cc" fxFlex="27%" fxFlex.xs="80%" fxFlex.sm="40%">
      <div fxLayoutAlign="stretch" fxLayout="column" class="loginform">


        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">Well done!</h4>
          <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
          <hr>
         
        </div>
        <div class="coupon">
          <div class="container" fxLayoutAlign="center">
           <p style="margin-top: 10px;">REFERAL CODE: <span class="promo"><b>{{referalId}}</b></span></p>
         
         </div>
       </div>
    
       <share-buttons class="sffsf" theme="material-dark" show="11" [url]="refLink"></share-buttons>
    
      </div>
    
       
    </mat-card>
    

    </div>

  

   